<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="text-center">
			<span class="glyphicon glyphicon-th-list"></span> 
			Administración de productos
		</h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-condensed">
				<caption class="text-center">Artículos <span class="badge">{{cantidad}}</span></caption>
				<tr>
					<th>ID</th>
					<th>Imágenes</th>
					<th>Nombre</th>
					<th class="text-center">Stock</th>
					<th class="text-right">Precio</th>
					<th class="text-center">Categoría</th>
					<th>Fecha</th>
					<th>Tiendas</th>
					<th>Descripción</th>
					<th>Estado</th>
					<th class="text-center"></th>
				</tr>
				<tr ng-repeat="producto in productos">
					<td>{{producto.id}}</td>
					<td><img src="img/{{producto.rutas.rutas[0]}}" alt="{{producto.rutas.rutas[0]}}" class="imagengestion"></td>
					<td>{{producto.nombre}}</td>
					<td class="text-center">{{producto.stock}}</td>
					<td class="text-right">{{producto.precio | euros:'€'}}</td>
					<td class="text-center">{{producto.categoria}}</td>
					<td><input type="date" data-date-format="dd/mm/yyyy" ng-model="producto.fecha" disabled></td>
					<td>{{producto.tienda.nombre}} ({{producto.tienda.id}})</td>
					<td>{{producto.descripcion}}</td>
					<td>{{producto.estado}}</td>
					<td class="text-center">
						<button ng-click="modifica()" class="btn btn-primary btn-xs longitudevento">
							<span class="glyphicon glyphicon-pencil"></span>
							 Producto
						</button><br>
						<button ng-click="modificaImg()" class="btn btn-warning btn-xs longitudevento">
							<span class="glyphicon glyphicon-pencil"></span>
							 Imagenes
						</button><br>
						<button ng-click="modificaEstado()" class="btn btn-danger btn-xs longitudevento">
							<span class="glyphicon glyphicon-pencil"></span>
							 Estado
						</button>
					</td>
				</tr>
			</table>	
		</div>		
	</div>
</div>
<!-- Mi modal -->
<div class="modal fade" id="mRef" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header {{modal.bcolor}}">
        <h4 ng-model="modal.datos.referencia" class="modal-title" id="titboton">
        	<span class="pull-left"  class="glyphicon glyphicon-pencil"></span>{{modal.opcion}} | {{modal.datos.nombre}}
          <span class="pull-right" >{{modal.fecha}}</span>
		</h4>
      </div>
      <div class="modal-body">
      	<div class="panel {{modal.pcolor}}">
      		<div class="panel-body">
		        <form id="formModal">
	        		<div class="row">
		        		<div class="col-md-4">
		        			<div class="form-group">
		        				<label for="nombre">Nombre </label>
		        				<input name="nombre" type="text" class="form-control" id="nombre" ng-model="modal.datos.nombre" required>
		        			</div>
		        		</div>
		        		<div class="col-md-8">
		           			<div class="form-group">
		        				<label for="descripcion">Descripción </label>
		        				<input ng-model="modal.datos.descripcion" name="descripcion" type="text" class="form-control" id="descripcion" required>
		        			</div>
		        		</div>
		        	</div>
	        		<div class="row">
	        			<div class="col-md-4">
		        			<div class="form-group">
		        				<label for="id">ID </label>
		        				<input name="id" type="text" class="form-control" id="id" ng-model="modal.datos.id" disabled>
		        			</div>
	        			</div>
	        			<div class="col-md-4">
		        			<div class="form-group">
		        				<label for="precio">Precio</label>
		        				<div class="input-group">
		        					<input ng-model="modal.datos.precio" name="precio" type="text" class="form-control" id="precio" required>
		        				</div>
		        			</div>
	        			</div>
	        			<div class="col-md-4">
		        			<div class="form-group">
		        				<label for="stock">Stock </label>
		        				<input ng-model="modal.datos.stock" name="stock" type="text" class="form-control" id="stock" required>
		        			</div>
	        			</div>
	        		</div>
		           	<div class="row">
		           		<div class="col-md-4">
		           			<div class="form-group">
		        				<label for="categoria">Categoria </label><br>
		        				<select name="categoria" ng-model="modal.datos.categoria" class="custom-select" required>
			  						<option  ng-repeat="categoria in categorias" value="{{categoria.id}}">
			  						{{categoria.nombre}}
			  						</option>
								</select>
		        			</div>
		           		</div>
		           		<div class="col-md-4">
		           			<div class="form-group">
		        				<label for="fecha">Fecha </label>
		        				<input ng-model="modal.datos.fecha" data-date-format="dd/mm/yyyy" name="fecha" type="date" class="form-control" id="fecha" required>
		        			</div>
		           		</div>
		           		<div class="col-md-4">
		           			<div class="form-group">
		        				<label for="tienda">Tienda </label><br>
		        				<select name="tienda" ng-model="modal.datos.tienda.id" ng-disabled="disabledTienda" class="custom-select" >
			  						<option  ng-repeat="tienda in tiendas" value="{{tienda.id}}">
			  						{{tienda.nombre}}
			  						</option>
								</select>
		        			</div>
		           		</div>
		           	</div>
		        </form>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><span class="	glyphicon glyphicon-remove-circle"></span> Cancelar</button>
        <button type="button" ng-click="accion()" class="btn {{modal.cboton}}" name="enviar" id="guarda">{{modal.boton}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="mRef2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header {{modal.bcolor}}">
        <h4 ng-model="modal.datos.referencia" class="modal-title" id="titboton">
        	<span class="pull-left"  class="glyphicon glyphicon-pencil"></span>{{modal.opcion}}  {{modal.datos.nombre}}
          <span class="pull-right" >{{modal.fecha}}</span>
		</h4>
      </div>
      <div class="modal-body">
      	<div class="panel {{modal.pcolor}}">
      		<div class="panel-body">
		      <div class="row">
		      	<div class="col-md-4" ng-repeat="ruta in modal.datos.rutas.rutas">
			      	<div class="panel panel-default" ng-style="myStyle">
			      		<div class="panel-body text-center">
							<img src="img/{{ruta}}" alt="{{ruta}}" class="imagengestion"><br>
							<button class="btn btn-danger" ng-click="myStyle={border:'1px solid red'};agregarAeliminar()">X</button>
			      		</div>
			      	</div>
		      	</div>
		      	<div class="row">
		      		<div class="col-md-12">
			      		<div class="text-center">
			      			<button class="btn btn-danger" ng-click="eliminarImagenes()">
			      				Eliminar imágenes
			      			</button>
			      		</div>
		      		</div>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
				<hr>
				<form class="text-center">
	                <input type="file" name="file[]" subir-imagen="file" multiple="multiple" /><br>
					<button class="btn btn-info upload" ng-click="accion()">
						<span class="glyphicon glyphicon-cloud-upload"></span>
						{{modal.boton}}
					</button>
            	</form>
		      	</div>
		      </div>
      		</div>
      	</div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" data-dismiss="modal" class="btn {{modal.cboton}} pull-center" name="enviar" id="guarda"><span class="glyphicon glyphicon-saved"></span> Terminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="mRef3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header {{modal.bcolor}}">
        <h4 ng-model="modal.datos.referencia" class="modal-title" id="titboton">
        	<span class="pull-left"  class="glyphicon glyphicon-pencil"></span>{{modal.opcion}}
		</h4>
      </div>
      <div class="modal-body">
      	<div class="panel {{modal.pcolor}}">
      		<div class="panel-heading text-center">
      			<h4>Estado actual: {{datos.estado}} - ID Producto: {{datos.id}}</h4>
      		</div>
      		<div class="panel-body">
		      <div class="row">
		      	<div class="col-md-12">
			      	<div class="panel panel-default">
			      		<div class="form-group text-center">
		        			<label for="categoria">Seleccione un nuevo estado </label><br>
		        			<select name="categoria" ng-model="nuevoEstado" class="custom-select" required>
			  					<option  ng-repeat="estado in estados" value="{{estado.id}}">
			  					{{estado.nombre}}
			  					</option>
							</select>
		        		</div>
			      	</div>
		      	</div>
		      </div>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><span class="	glyphicon glyphicon-remove-circle"></span> Cancelar</button>
        <button type="button" ng-click="accion()" class="btn {{modal.cboton}}" name="enviar" id="guarda">{{modal.boton}}</button>
      </div>
    </div>
  </div>
</div>
