
<h1 class="logintitulo text-center">todos ganamos.</h1>
<div class="row formlogin">
	<div class="panel panel-default login">
		<div class="panel-heading">
			<h3 class="text-center mybrand"><span class="glyphicon glyphicon-globe"></span> colaboraONG</h3>
		</div>
		<div class="panel-body">
			<div class="input-group input-group-lg">
			  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
			  <input type="text" class="form-control" ng-model="email" placeholder="e-mail" aria-describedby="sizing-addon1">		
			</div>
			<div class="input-group input-group-lg">
			  <span class="input-group-addon" id="sizing-addon1"><i class="fas fa-key"></i></span>
			  <input type="password" class="form-control" ng-model="password" placeholder="Contraseña" aria-describedby="sizing-addon1">		
			</div>
		</div>
		<div class="panel-footer">
			<button ng-click="login()" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Entrar</button>
			<button id="registrar" class="btn btn-warning pull-right"><i class="fas fa-clipboard-list"></i> Registrarme</button>
		</div>
	</div>
</div>
