<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="text-center">
			<span class="glyphicon glyphicon-th-list"></span> 
			Listado de reservas de eventos
		</h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-condensed">
				<caption class="text-center">Reservas Eventos</caption>
				<tr>
					<th>Evento</th>
					<th>Cantidad</th>
					<th>Precio total</th>
					<th>Fecha reserva</th>
				</tr>
				<tr ng-repeat="reservaEvento in reservasEventos">
					<td>{{reservaEvento.evento}}</td>
					<td>{{reservaEvento.cantidad}}</td>
					<td>{{reservaEvento.precioTotal | euros:'€'}}</td>
					<td>{{reservaEvento.fecha | vfecha}}</td>
				</tr>
			</table>	
		</div>		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="text-center">
			<span class="glyphicon glyphicon-th-list"></span> 
			Listado de reservas de productos
		</h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-condensed">
				<caption class="text-center">Reservas de productos</caption>
				<tr>
					<th>Producto</th>
					<th>Tienda</th>
					<th>Cantidad</th>
					<th>Precio total</th>
					<th>Fecha reserva</th>
				</tr>
				<tr ng-repeat="reservaProducto in reservasProductos">
					<td>{{reservaProducto.producto.nombre}}</td>
					<td>{{reservaProducto.tienda}}</td>
					<td>{{reservaProducto.cantidad}}</td>
					<td>{{reservaProducto.precioTotal | euros:'€'}}</td>
					<td>{{reservaProducto.fecha}}</td>
				</tr>
			</table>	
		</div>		
	</div>
</div>